<%= render '/users/shared/user_info' %>

<%= render '/users/shared/stats' %>

<% @user.posts.each do |post| %>
 <% if post.photo? %>
　　<%= image_tag post.photo.url %>
　<% else %>
　　
　<% end %>
  <p><%= post.text %></p>
<% end %>
