<%= render '/users/shared/user_info' %>

<div class="contents">
  <div class="tabs">
      <p class="tab selected">投稿</p>
      <p class="tab">食べたい</p>
  </div>
  <div class="posts">
    <% @user.posts.each do |post| %>
      <% if post.photo? %>
        <%= image_tag(post.photo.url, class: 'post-image') %>
        <% else %>
        <% end %>
    <% end %>
  </div>
</div>

<%= render '/users/shared/footer' %>
